# Configuration file

misc {
    # Enable a more verbose debug logging [default: false]
    B:debugLogging=true
}


recordnames {
    # on new line put name of song Ex: For Pingu Trap Remix, PinguTrap
    S:customRecords <
        PinguTrap
		FeintWasted
     >
}


removeitems {
    # Put Items to remove crafting recipes here. Format: modname:itemname
    S:recipes <
        minecraft:iron_hoe
        minecraft:iron_pickaxe
        minecraft:iron_shovel
        minecraft:iron_sword
        minecraft:iron_axe
     >
}


rendering {
    I:Rendering.GUITopLeftXOffset=0
    I:Rendering.GUITopLeftYOffset=0
}


